{% extends "base.html" %}

{% load static %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'study/trangchu/css/trangchu.css' %}">
    <link rel="stylesheet" href="{% static 'study/flashcard_detail/css/flashcard.css' %}">
    <style>
        .navStudy a.ModeLearningItem{
            width: 160px;
            height: 3.75rem;
            border: none;
            background: none;
            margin-right: 0;
        }
        .navStudy a.ModeLearningItem:hover{
            background-color: #939bb459;
        }
        .navStudy a.btn-exit {
            width: 40px;
            height: 40px;
            border: 1px solid #111;
            background: none;
            cursor: pointer;
            border-radius: 20%;
            text-align: center;
            line-height: 35px;
            color: black;
        }
    </style>
{% endblock %}

{% block header %}
    <header id="header" class="navbar navbar-expand-lg navbar-dark d-flex" role="navigation">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav col-4 align-items-center navStudy">
                <div class="nav-item">
                    <div class="btn-group" style="margin-left: 20px;">
                        <a href="{% url 'study:the-ghi-nho' flashcard_id=flashcard.id %}" class="ModeLearningItem">
                            <i class='bx bx-note'></i>
                            <div class="ModeLearningItemHeader">
                                <h2 id="modeName" class="ModeLearningItemName">Thẻ ghi nhớ</h2>
                            </div>
                        </a>
                        <button id="dropdownMode" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'study:the-ghi-nho' flashcard_id=flashcard.id %}" class="dropdown-item">Thẻ ghi nhớ</a></li>
                            <li><a href="{% url 'study:quiz' flashcard_id=flashcard.id %}" class="dropdown-item">Quiz</a></li>
                            <li><a href="{% url 'study:kiem-tra' flashcard_id=flashcard.id %}" class="dropdown-item" href>Kiểm tra</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
            {% block navbar_title %}
            <div id="navbar-count-card" class="navbar-nav navStudy col-4 mx-auto" style="flex-direction: column;">
                <h4 id="card-counter-id">1/{{flashcard.word_count}}</h4>
                <span>{{flashcard.title}}</span>
            </div>
            {% endblock %}
            <div class="navbar-nav navStudy align-items-center ml-auto m-3">
                <a href="{% url 'study:thenho' flashcard_id=flashcard.id %}" class="btn-exit"><i class="fas fa-times"></i></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    

{% endblock %}

{% block myjs %}
    <script>

        // Lấy phần tử dropdown-toggle
        const dropdownModeName = document.querySelector('#modeName');

        // Lấy danh sách các phần tử dropdown-item
        const dropdownItems = document.querySelectorAll('.dropdown-item');

        // Lắng nghe sự kiện click trên mỗi phần tử dropdown-item
        dropdownItems.forEach(function(item) {
            item.addEventListener('click', function(event) {
                // Lấy nội dung của mục được chọn
                var selectedModeItem = this.textContent;
                // Thay đổi nội dung của dropdown-toggle thành nội dung của dropdown-item được click
                dropdownModeName.textContent = selectedModeItem;
                // Lưu trữ tên của nút được chọn trong localStorage
                localStorage.setItem('selectedItemModeName', selectedModeItem);
            });
        });

        var selectedItemModeName = localStorage.getItem('selectedItemModeName');
        if (selectedItemModeName) {
            dropdownModeName.textContent = selectedItemModeName;
        }
    </script>
{% endblock %}